body {
  width: 100%;
  height: auto;
  overflow: auto;
}

section {
  width: 100%;
  height: auto;
  overflow: auto;
}

.my_shopping_container {
  width: auto;
  height: 100%;
  margin-top: 150px;
  overflow: auto;

  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.my_shopping_items {
  width: 50%;
  height: auto;

  display: flex;
  align-items: flex-start;
  flex-direction: column;

  padding: 0px 50px 50px 50px;
}

.my_shopping_title {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);

  display: flex;
  align-items: flex-start;
  font-size: 25px;
}

.myshopping_item {
  width: 100%;
  height: 200px;

  margin-top: 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.myshopping_item_context {
  width: 50%;
  height: 80%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.myshopping_item_detail {
  width: 45%;
  height: 80%;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}

.myshopping_item_context_img {
  width: 90px;
  height: 90px;
}
.myshopping_item_context_text {
  height: 90px;
  width: 60%;
}

.myshopping_item_context_text_title {
  width: 100%;
  height: 55%;
}

.myshopping_item_context_text_price {
  width: 100%;
  height: 25%;
  margin-top: 20px;
}

.myshopping_item_detail_amount {
  display: flex;
  width: 35%;
  height: 30px;

  display: flex;
  justify-content: space-between;
}

.myshopping_item_detail_amount_count {
  width: 20px;
  height: 25px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.myshopping_item_detail_amount input {
  width: 25px;
  border: none;
}

.myshopping_item_detail_price {
  width: 40%;
  height: 30px;
  margin-left: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.myshopping_item_detail_btn {
  width: 20%;
  height: 90px;

  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.myshopping_item_detail_btn_check input {
  width: 30px;
  height: 30px;
}

.myshopping_item_detail_btn_delete {
  width: 30px;
  height: 30px;

  margin-top: 15px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.myshopping_item_detail_btn_delete input {
  width: 15px;
  height: 15px;
}

.my_shopping_receipt {
  width: 30%;
  height: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  flex-direction: column;

  padding-bottom: 50px;
}

.my_shopping_receipt_title {
  width: 80%;
  height: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);

  margin-bottom: 50px;

  font-size: 25px;
}

.my_shopping_receipt_context {
  width: 80%;
  height: 200px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.my_shopping_receipt_btn {
  width: 100%;
  height: 50px;

  margin-top: 50px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.my_shopping_receipt_context_price {
  width: 100%;
  height: 100px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my_shopping_receipt_context_total {
  width: 60%;
  height: 60%;
}
.my_shopping_receipt_context_total_price {
  width: 30%;
  height: 60%;

  text-align: end;
}

.my_shopping_receipt_btn input {
  width: 40%;
  height: 100%;

  background-color: aquamarine;

  border: none;
  border-radius: 10px;
}

.myshopping_item:last-child {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
