img {
	width: 80px;
	height: 80px;
	object-fit: cover;
}

a {
	text-decoration-line: none;
}

input[type='number'] {
	width: 40px;
}

div{
display:inline-block;
}

.checkbox{
width: 25px;
}

.img,.amount{
width: 90px;
}

.iname,.price,.sum{
width: 100px;
}

.msg{
width: 300px;
}

.delete{
width: 50px;
}