<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
   <settings>
      <setting name="jdbcTypeForNull" value="NULL"/> <!-- 비어있는 값이 들어오면 null로 사용할 것 -->
   </settings>
   
   <typeAliases>
      
   </typeAliases>
   <!-- 다시 -->
   <mappers>
      <mapper resource="mapper/member-mapper.xml"/>

   </mappers>
</configuration>